################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/.vs
/Store2/x64/Debug
/Store2/Store2.vcxproj
/Store2/Store2.vcxproj.filters
